## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [213]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

1. ¿Cúantos posibles "Job Title" existen en el Dataset?

In [214]:
# import pandas as pd
# import matplotlib.pyplot as plt

# df = pd.read_csv("Latest_Data_Science_Salaries.csv")

df_job_title = df["Job Title"].unique()

num_job_titles = len(df_job_title)

print("Número de posibles títulos de trabajo:", num_job_titles)
print("Títulos de trabajo únicos:")
for title in df_job_title:
    print(title)

Número de posibles títulos de trabajo: 111
Títulos de trabajo únicos:
Data Engineer
Data Scientist
Analytics Engineer
Business Intelligence Developer
Machine Learning Engineer
Data Analyst
Decision Scientist
Machine Learning Software Engineer
BI Developer
Machine Learning Scientist
BI Analyst
Data Manager
Business Intelligence Engineer
ML Engineer
Data Science Manager
AI Programmer
Applied Scientist
Data Analytics Manager
Research Engineer
Research Scientist
Data Lead
Data Strategist
Data Quality Analyst
Data Architect
AI Architect
Computer Vision Engineer
Business Intelligence Analyst
Principal Data Scientist
Staff Machine Learning Engineer
Staff Data Scientist
Consultant Data Engineer
Machine Learning Specialist
Head of Data
Data Quality Engineer
Research Analyst
Principal Machine Learning Engineer
Deep Learning Engineer
Data Visualization Specialist
MLOps Engineer
Business Intelligence Data Analyst
Data Science Engineer
Data Operations Manager
Data Specialist
Head of Data Science
Lead Machine Learning Engineer
AI Scientist
Managing Director Data Science
Data Modeller
Finance Data Analyst
Software Data Engineer
Machine Learning Research Engineer
Compliance Data Analyst
Data Operations Specialist
Business Data Analyst
Data Engineer 2
Data Science Consultant
Cloud Data Engineer
Analytics Engineering Manager
Machine Learning Infrastructure Engineer
Director of Data Science
Insight Analyst
ETL Developer
NLP Engineer
Data Operations Engineer
Staff Data Analyst
Applied Machine Learning Scientist
AWS Data Architect
Product Data Analyst
BI Data Analyst
Machine Learning Developer
Data Integration Specialist
Data Visualization Analyst
Autonomous Vehicle Technician
Data Modeler
Sales Data Analyst
Data Operations Analyst
Data Science Lead
Applied Machine Learning Engineer
Applied Data Scientist
ETL Engineer
Data DevOps Engineer
AI Developer
Machine Learning Researcher
Big Data Engineer
Lead Data Analyst
BI Data Engineer
Lead Data Scientist
Cloud Database Engineer
Financial Data Analyst
Data Infrastructure Engineer
Deep Learning Researcher
Data Analytics Specialist
Big Data Architect
Computer Vision Software Engineer
Azure Data Engineer
Marketing Data Engineer
Data Analytics Lead
Manager Data Management
Data Analytics Consultant
Data Management Specialist
Data Science Tech Lead
Data Scientist Lead
Marketing Data Analyst
Principal Data Architect
Machine Learning Manager
Data Analytics Engineer
Cloud Data Architect
Lead Data Engineer
Head of Machine Learning
Principal Data Analyst
Principal Data Engineer

2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?

In [215]:
df_employment_type = df["Employment Type"].unique()

frequency_employment_type = df["Employment Type"].value_counts()

print(df_employment_type)
print("Frecuencia:", frequency_employment_type)

['Full-Time' 'Contract' 'Part-Time' 'Freelance']
Frecuencia: Employment Type
Full-Time    3261
Contract       15
Part-Time      13
Freelance      11
Name: count, dtype: int64

3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [216]:
levels_group = df.groupby(['Expertise Level', 'Experience Level'])['Salary'].mean()

print(levels_group)

Expertise Level  Experience Level
Director         Executive           237493.006849
Expert           Senior              181572.525908
Intermediate     Mid                 259106.441656
Junior           Entry               202933.167808
Name: Salary, dtype: float64

4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?

In [217]:
salary_group = df["Salary Currency"].unique()

print(salary_group)

['United States Dollar' 'British Pound Sterling' 'Euro' 'Indian Rupee'
 'Philippine Peso' 'Canadian Dollar' 'Turkish Lira' 'Brazilian Real'
 'Swiss Franc' 'Australian Dollar' 'Polish Zloty' 'Norwegian Krone'
 'Japanese Yen' 'South African Rand' 'Hong Kong Dollar' 'Singapore Dollar'
 'Israeli New Shekel' 'Thai Baht' 'Hungarian Forint' 'Danish Krone'
 'Mexican Peso' 'Chilean Peso']

5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?

In [218]:
country_residence = df["Employee Residence"].nunique()

print("Número de países de residencia de los empleados:", country_residence)

Número de países de residencia de los empleados: 83

6. ¿Cuál es el salario promedio por "Job Title" agrupado?

In [219]:
jobs_list = df.groupby("Job Title")["Salary"].mean()
print("Salario promedio de cada Job:", jobs_list)

Salario promedio de cada Job: Job Title
AI Architect                       233500.000000
AI Developer                       133666.666667
AI Programmer                       62500.000000
AI Scientist                       263444.444444
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             120000.000000
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary, Length: 111, dtype: float64

7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?

In [220]:
residence_salary = df.groupby("Employee Residence")["Salary"].mean()

print("Salario promedio por país de residencia:", residence_salary)

Salario promedio por país de residencia: Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  47000.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom           96596.857143
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary, Length: 83, dtype: float64

8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?

In [221]:
max_salary_USD = df["Salary in USD"].max()

print("Salario max en USD:", max_salary_USD)

min_salary_USD = df["Salary in USD"].min()

print("Salario min en USD:", min_salary_USD)

Salario max en USD: 450000
Salario min en USD: 15000

9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?

In [222]:
rol_salary_USD = df.groupby(["Job Title", "Company Size"])["Salary in USD"].mean()

print(rol_salary_USD)

Job Title                        Company Size
AI Architect                     Large           207968.0
                                 Medium          267000.0
AI Developer                     Large           215936.0
                                 Medium           97944.0
                                 Small           197500.0
                                                   ...
Software Data Engineer           Medium           50000.0
Staff Data Analyst               Medium           15000.0
                                 Small           179998.0
Staff Data Scientist             Medium          134500.0
Staff Machine Learning Engineer  Medium          185000.0
Name: Salary in USD, Length: 204, dtype: float64

10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

In [223]:
data_group = df.groupby(["Company Size", "Employee Residence"])["Salary"].mean()

print(data_group)

Company Size  Employee Residence
Large         Argentina                           55000.000000
              Australia                          110857.142857
              Austria                             69666.666667
              Belgium                            140000.000000
              Bolivia, Plurinational State of     75000.000000
                                                     ...
Small         Turkey                              60000.000000
              Ukraine                             50000.000000
              United Arab Emirates                92500.000000
              United Kingdom                      88333.333333
              United States                      123942.325581
Name: Salary, Length: 149, dtype: float64